body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   background: linear-gradient(139deg,#d1d2d2,#63cbd6);
}

.container {
    text-align: center;
    background:linear-gradient(139deg,#d1d2d2,#6bcdd8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.emoji-rating {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.emoji {
    font-size: 50px;
    cursor: pointer;
    margin: 0 10px;
    transition: transform 0.2s;
}

.emoji:hover {
    transform: scale(1.2);
}

input[type="radio"] {
    display: none; 
}

input[type="radio"]:checked + .emoji {
    transform: scale(1.5); 
}

.result {
    font-size: 24px;
    margin-top: 20px;
}